KERNEL=="sd[a-z]*[0-9]", ENV{ID_BUS}=="ata|usb", ACTION=="add", RUN+="/bin/systemctl start dcr-mount@%k.service"
KERNEL=="sd[a-z]*[0-9]", ENV{ID_BUS}=="ata|usb", ACTION=="remove", RUN+="/bin/systemctl stop dcr-mount@%k.service"
KERNEL=="nvme[0-7]n1p[12]", SUBSYSTEMS=="nvme", ACTION=="add", RUN+="/bin/systemctl start dcr-mount@%k.service"
KERNEL=="nvme[0-7]n1p[12]", SUBSYSTEMS=="nvme", ACTION=="remove", RUN+="/bin/systemctl stop dcr-mount@%k.service"
